#logo{
    width: 100%;
    height: 300px;

}

li{
    list-style-type: none;
}
#title{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    float: left;
    margin: 0px;
    font-size: 30px;
    padding-left: 20px;
}
dl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100px;
    margin: 0px;
    font-size: 20px;
    
}
#top-5{
    display:block;
    margin: auto;
    text-align: center;
}

.main-title{
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
.midle{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.sub-texto{
    text-align: center;
}

#article1{
    background-color: blue;
    
}
#article2{
    background-color: red;
}
#article3{
    background-color: blue;
}
#article4{
    background-color: red;
}

article{
    border: 5px solid black;
}